.maxWidth {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* home section styling */
.home {
  display: flex;
  color: #000000;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .maxWidth {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .maxWidth .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}

.image-wrapper {
  width: 450px;
  border-radius: 50%;
  overflow: hidden;
}

.image-wrapper img {
  max-width: 100%;
  border-radius: 50%;
}

@media (max-width: 1150px) {
  .image-wrapper {
    width: 300px;
  }
  .home .home-content .text-1 {
    font-size: 23px;
  }
  .home .home-content .text-2 {
    font-size: 65px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .image-wrapper {
    width: 0;
  }
  .home .home-content .text-1 {
    font-size: 23px;
  }
  .home .home-content .text-2 {
    font-size: 65px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
}
