a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 0.6rem;
  z-index: 10;
  background-color: crimson;
  font-family: "ubuntu", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all .6s ease;
}

.hideNavbar {
  transform: translateY(-100px) scale(0.9) rotateX(180deg);
  opacity: 0;
}

.showNavbar {
  transform: translateY(0px) scale(1) rotateX(0);
  opacity: 1;
}


.navbar .logo a {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
}
.navbar .menu li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

/* menu btn styling */
.menuBtn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  .menuBtn i.active:before {
    content: "\f00d";
  }

  .navbar {
    justify-content: space-between;
  }
}
